.error {
  color: red;
}
.error-msg {
  display: block;
  position: absolute;
  font-size: 75%;
  bottom: -2em;
}
.isa_info, .isa_success, .isa_warning, .isa_error {
  margin: 10px 0px;
  padding:12px;
}
.isa_error {
  color: #D8000C;
  background-color: #FFD2D2;
}
.error_field{
  border-color:red;
}
.success-field{
  border-color:green;

}
